#text-project1, #text-project2, #text-project3, #text-project4, #text-project5, #text-project6{
	text-align: justify;
}
#project1, #project2, #project3, #project4, #project5, #project6{
	border: none;
	color: blue;
}
.list-lang{
	margin-left: 50px;
}
.title-project{
	color: red;
}